[submodule "projetos-pessoais"]
	path = projetos-pessoais
	url = https://github.com/joaopradov/projetos-pessoais.git
[submodule "Exercicios-Fundamento-de-Programa--o"]
	path = Exercicios-Fundamento-de-Programa--o
	url = https://github.com/joaopradov/Exercicios-Fundamento-de-Programa--o.git
